{% extends 'base.html.twig' %}

{% block javascripts %} 
   <script language = "javascript" src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
   <script type="text/javascript">

   $("#email,#mobile").blur(function () 
    {  
        //alert("trfftrt");
        var email = $("#email").val();
        var mobile = $("#mobile").val();
        var serialized = $( '#register' ).serialize();
       // alert(email);
        if(email && mobile)
            {
                $.ajax({
                type: 'post',
                dataType:'json',
                url: 'validate',
                data: serialized,
                success: function (response) {
                    var flag=response.exist;
                    var flag2=response.mobile;
                    if(flag==1){
                        $('#emailerror').css('color', 'red');
                        $('#email').css('color', 'black');
                        $('.registerbtn').hide();
                         $('#emailerror').show();
                        $('.signin').css('background-color', '#4CAF50');

                    }
                    else{
                        $('#email').css('color', 'green');
                        //$('#mobile').css('color', 'green');
                        $('#emailerror').hide();
                        $('.signin').css('background-color', '#f1f1f1');
                         $('.registerbtn').show();
                    }
                    if(flag2==1)
                        {$('#mobile').css('color', 'red');
                         $('.registerbtn').hide();
                        }
                    else
                        {$('#mobile').css('color', 'green');
                         $('.registerbtn').show();
                        }
            }
        });
        }
    });

   $("#registerbtn").click(function(){
       alert("Clicked");
       var serialized = $( '#register' ).serialize();
       if(serialized)
            {
                $.ajax({
                type: 'post',
                dataType:'json',
                url: 'register',
                data: serialized
    });
      }
    });    


   </script>
{% endblock %}






{% block stylesheets %}
    <style>
        * {box-sizing: border-box}

        /* Add padding to containers */
        .container {
            padding: 16px;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit/register button */
        .registerbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .registerbtn:hover {
            opacity:1;
        }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        } 

        #emailerror{
            display: none;
            font-size: 13px;
            padding-left: 10px;
        }   
    </style>
{% endblock %}

{% block body %}
<form id="register" method="post" action="register">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        
        <label for="email"><b>Email</b></label><span id="emailerror">email used for another account</span>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Name</b></label>
        <input type="text" placeholder="Enter your Name" name="name" required>

        <label for="psw"><b>Mobile</b></label>
        <input type="text" placeholder="Enter your Mobile" name="mobile" id="mobile" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter your Password" name="password" required>
        <hr>

        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button id="registerbtn" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="{{path('login')}}">Sign in</a>.</p>
    </div>
</form>
{% endblock %}
